---
import Wrapper from '../components/Wrapper.astro'
import DATA from '../../information.json'
const {
  callforpapers: { title, subtitle, paragraph },
  track: { items },
} = DATA
---

<section class="py-14" id="dates">
  <Wrapper>
    <h2 class="text-center md:text-5xl font-bold mb-8 text-3xl">{title}</h2>

    <p class="text-center text-black/80">
      {paragraph}
    </p>

    <div class="py-10 flex justify-center flex-wrap">
      {
        items.map(e => (
          <div class=" min-w-[312px] md:min-w-[33%] px-2 py-2 text-white">
            <div class="bg-primary rounded-2xl px-4 py-2 flex flex-col items-center">
              <h4 class="text-center text-xl font-bold mt-4 mb-2">{e.title}</h4>
              <p class="text-center mb-4">{e.desc}</p>
              {e.isExternal ? (
                <a
                  href={e.path}
                  class=" inline-block bg-white text-primary px-4 py-2 rounded-full mb-4"
                  target="_blank"
                  referrerpolicy="no-referrer"
                >
                  More Details
                </a>
              ) : (
                <a
                  href={`${import.meta.env.PROD ? '/SIMBig2024' : ''}${e.path}`}
                  class=" inline-block bg-white text-primary px-4 py-2 rounded-full mb-4"
                >
                  More Details
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
