---
import Wrapper from '../components/Wrapper.astro'
import DATA from '../../information.json'
const {
  footer: { copyright, creator, nav },
  hero: { title, paragraph },
} = DATA
---

<footer class="pt-16 pb-3 bg-black text-white">
  <Wrapper>
    <section class="flex flex-wrap gap-6 mb-8">
      <div>
        <h2 class="text-xl md:text-2xl font-semibold">{title}</h2>
        <p class="text-white/80 text-sm">{paragraph}</p>
      </div>
      <!--       <div>
        <h2>Menu</h2>
        <div></div>
      </div> -->
    </section>
    <hr class="border-white/20" />
    <section
      class="flex items-center md:flex-row flex-col md:justify-between mt-3"
    >
      <div class="text-sm text-white/70 font-medium flex gap-3">
        {
          nav.map(item => (
            <a
              href={item.path}
              class="hover:text-white transition-colors duration-300"
            >
              {item.name}
            </a>
          ))
        }
      </div>
      <div>
        <p class="text-sm text-white/70 text-center">
          {copyright} - Design by <a
            href={creator.github}
            class="text-white font-medium"
            target="_blank">{creator.name}</a
          >
        </p>
      </div>
    </section>
  </Wrapper>
</footer>
