---
import DATA from '../../information.json'
import Navbar from './Navbar.astro'

const {
  hero: { background, title, paragraph, date, gps },
} = DATA
---

<header class="min-h-[80svh] bg-black/60 text-white relative">
  <img
    src={background}
    alt="hero background simbig"
    class="h-full w-full absolute -z-10 top-0 left-0 object-cover contrast-150"
  />
  <Navbar />
  <section class="h-[calc(80svh-80px)]">
    <div class="w-full max-w-7xl mx-auto h-full">
      <div class="flex h-full justify-center">
        <div class="flex flex-col gap-4 justify-center items-center">
          <h1
            class="font-bold text-5xl md:text-8xl text-center relative md:text-left"
          >
            {title}
            <img
              src="/assets/images/bander.png"
              class="absolute md:-right-5 -top-3 -right-4 h-[30px] md:-top-4 rotate-12 md:h-[50px]"
              alt=""
            />
          </h1>
          <p
            class="text-white/80 text-base leading-tight md:text-lg text-center max-w-[500px] font-medium"
          >
            {paragraph}
          </p>
          <div class="flex items-end justify-center z-10 gap-3">
            <div
              class="flex flex-col items-center justify-center h-[70px] w-[70px] md:h-[85px] md:w-[85px] bg-white/20 rounded-2xl"
            >
              <span
                class="text-white font-bold text-3xl sm:text-4xl tabular-nums"
                id="days">--</span
              >
              <p>Days</p>
            </div>
            <div
              class="flex flex-col items-center justify-center h-[70px] w-[70px] md:h-[85px] md:w-[85px] bg-white/20 rounded-2xl"
            >
              <span
                class="text-white font-bold text-3xl sm:text-4xl tabular-nums"
                id="hours"
              >
                --</span
              >
              <p>Hours</p>
            </div>
            <div
              class="flex flex-col items-center justify-center h-[70px] w-[70px] md:h-[85px] md:w-[85px] bg-white/20 rounded-2xl"
            >
              <span
                class="text-white font-bold text-3xl sm:text-4xl tabular-nums"
                id="minutes">--</span
              >
              <p>Minutes</p>
            </div>
            <div
              class="flex flex-col items-center justify-center h-[70px] w-[70px] md:h-[85px] md:w-[85px] bg-white/20 rounded-2xl"
            >
              <span
                class="text-white font-bold text-3xl sm:text-4xl tabular-nums"
                id="seconds">--</span
              >
              <p>Seconds</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div
    class="absolute py-4 bg-primary gap-4 md:gap-0 bottom-0 left-[50%] -translate-x-[50%] w-full max-w-[800px] translate-y-4 shadow-xl flex flex-wrap justify-center"
  >
    <div
      class="min-w-[350px] max-w-[50%] p-0 md:pl-8 flex items-center justify-center md:flex-row flex-col gap-2 md:gap-6"
    >
      <div>
        <svg class="w-[30px] md:w-[60px]" viewBox="0 0 20 20" fill="#fff">
          <g id="layer1">
            <path
              d="M 9.7441406 0 L 9.2402344 0.052734375 L 8.7441406 0.15625 L 8.2597656 0.30859375 L 7.7949219 0.50585938 L 7.3535156 0.75195312 L 6.9375 1.0410156 L 6.5527344 1.3730469 L 6.203125 1.7402344 L 5.8945312 2.1386719 L 5.625 2.5683594 L 5.4023438 3.0234375 L 5.2265625 3.5 L 5.0996094 3.9882812 L 5.0234375 4.4902344 L 4.9980469 4.9960938 L 5.0234375 5.8144531 L 5.0996094 6.6308594 L 5.2285156 7.4394531 L 5.4082031 8.2382812 L 5.6367188 9.0253906 L 5.9160156 9.796875 L 6.2421875 10.546875 L 6.6152344 11.275391 L 7.0332031 11.980469 L 7.4960938 12.658203 L 8 13.304688 L 8.5429688 13.917969 L 8.5449219 13.917969 L 8.7851562 14.134766 L 9.0605469 14.308594 L 9.3574219 14.4375 L 9.6738281 14.517578 L 9.9980469 14.550781 L 10.322266 14.517578 L 10.636719 14.4375 L 10.935547 14.308594 L 11.210938 14.134766 L 11.453125 13.917969 L 11.996094 13.304688 L 12.498047 12.658203 L 12.962891 11.980469 L 13.378906 11.275391 L 13.751953 10.546875 L 14.078125 9.796875 L 14.357422 9.0253906 L 14.587891 8.2382812 L 14.765625 7.4394531 L 14.894531 6.6308594 L 14.970703 5.8144531 L 14.998047 4.9960938 L 14.970703 4.4902344 L 14.894531 3.9882812 L 14.769531 3.5 L 14.591797 3.0234375 L 14.369141 2.5683594 L 14.103516 2.1386719 L 13.792969 1.7402344 L 13.441406 1.3730469 L 13.056641 1.0410156 L 12.642578 0.75195312 L 12.201172 0.50585938 L 11.734375 0.30859375 L 11.25 0.15625 L 10.753906 0.052734375 L 10.25 0 L 9.7441406 0 z M 9.9980469 0.99609375 L 10.445312 1.0214844 L 10.888672 1.0957031 L 11.320312 1.2207031 L 11.732422 1.3925781 L 12.126953 1.609375 L 12.492188 1.8691406 L 12.826172 2.1679688 L 13.125 2.5019531 L 13.384766 2.8671875 L 13.601562 3.2597656 L 13.773438 3.6757812 L 13.898438 4.1054688 L 13.974609 4.546875 L 13.998047 4.9941406 L 13.974609 5.7519531 L 13.902344 6.5039062 L 13.783203 7.25 L 13.619141 7.9902344 L 13.40625 8.7148438 L 13.150391 9.4257812 L 12.847656 10.121094 L 12.503906 10.792969 L 12.117188 11.443359 L 11.693359 12.068359 L 11.226562 12.664062 L 10.726562 13.230469 L 10.570312 13.365234 L 10.394531 13.462891 L 10.201172 13.521484 L 9.9980469 13.548828 L 9.7949219 13.521484 L 9.6015625 13.462891 L 9.4257812 13.365234 L 9.2695312 13.230469 L 8.7695312 12.664062 L 8.3027344 12.068359 L 7.8789062 11.443359 L 7.4921875 10.792969 L 7.1484375 10.121094 L 6.8457031 9.4257812 L 6.5898438 8.7148438 L 6.3769531 7.9902344 L 6.2128906 7.25 L 6.09375 6.5039062 L 6.0214844 5.7519531 L 5.9980469 4.9941406 L 6.0234375 4.546875 L 6.0976562 4.1054688 L 6.2207031 3.6757812 L 6.3925781 3.2597656 L 6.6113281 2.8671875 L 6.8710938 2.5019531 L 7.1699219 2.1679688 L 7.5039062 1.8691406 L 7.8691406 1.609375 L 8.2617188 1.3925781 L 8.6777344 1.2207031 L 9.1074219 1.0957031 L 9.5488281 1.0214844 L 9.9980469 0.99609375 z M 9.9160156 2.9941406 L 9.5976562 3.0332031 L 9.2890625 3.125 L 8.9980469 3.2597656 L 8.7324219 3.4433594 L 8.5019531 3.6660156 L 8.3085938 3.9238281 L 8.1582031 4.2109375 L 8.0546875 4.515625 L 8.0039062 4.8320312 L 8.0039062 5.15625 L 8.0546875 5.4726562 L 8.1582031 5.7773438 L 8.3085938 6.0625 L 8.5019531 6.3203125 L 8.7324219 6.5410156 L 8.9980469 6.7246094 L 9.2890625 6.8632812 L 9.5976562 6.953125 L 9.9160156 6.9921875 L 10.238281 6.9863281 L 10.554688 6.9199219 L 10.855469 6.8046875 L 11.134766 6.6445312 L 11.384766 6.4414062 L 11.597656 6.2011719 L 11.769531 5.9277344 L 11.894531 5.6328125 L 11.972656 5.3203125 L 11.998047 4.9980469 L 11.998047 4.9960938 L 11.972656 4.6757812 L 11.894531 4.3632812 L 11.769531 4.0664062 L 11.597656 3.7949219 L 11.384766 3.5546875 L 11.134766 3.3476562 L 10.855469 3.1875 L 10.554688 3.0742188 L 10.238281 3.0078125 L 9.9160156 2.9941406 z M 9.9980469 3.9941406 L 10.21875 4.0214844 L 10.431641 4.0957031 L 10.621094 4.2148438 L 10.78125 4.3730469 L 10.900391 4.5605469 L 10.972656 4.7734375 L 10.998047 4.9960938 L 10.972656 5.2167969 L 10.900391 5.4296875 L 10.78125 5.6191406 L 10.621094 5.7792969 L 10.431641 5.8984375 L 10.21875 5.9726562 L 9.9980469 5.9980469 L 9.7753906 5.9726562 L 9.5625 5.8984375 L 9.375 5.7792969 L 9.2167969 5.6191406 L 9.0976562 5.4296875 L 9.0234375 5.2167969 L 8.9980469 4.9960938 L 9.0234375 4.7734375 L 9.0976562 4.5605469 L 9.2167969 4.3730469 L 9.375 4.2148438 L 9.5625 4.0957031 L 9.7753906 4.0214844 L 9.9980469 3.9941406 z M 5.1738281 10.615234 L 4.7050781 10.753906 L 4.2382812 10.908203 L 3.7792969 11.080078 L 3.3242188 11.271484 L 2.8808594 11.480469 L 2.4492188 11.714844 L 2.03125 11.972656 L 1.6308594 12.257812 L 1.25 12.572266 L 0.90234375 12.916016 L 0.7421875 13.101562 L 0.59179688 13.298828 L 0.453125 13.5 L 0.33203125 13.714844 L 0.22460938 13.933594 L 0.13671875 14.164062 L 0.068359375 14.402344 L 0.0234375 14.644531 L 0 14.888672 L 0.001953125 15.136719 L 0.02734375 15.380859 L 0.076171875 15.623047 L 0.1484375 15.857422 L 0.23828125 16.085938 L 0.34570312 16.306641 L 0.47265625 16.519531 L 0.61132812 16.720703 L 0.76171875 16.916016 L 1.0957031 17.277344 L 1.4628906 17.603516 L 1.8535156 17.898438 L 2.265625 18.167969 L 2.6914062 18.412109 L 3.1308594 18.630859 L 3.5800781 18.832031 L 4.0390625 19.011719 L 4.5019531 19.171875 L 4.9707031 19.318359 L 5.4433594 19.447266 L 5.921875 19.560547 L 6.4042969 19.662109 L 6.8886719 19.748047 L 7.3730469 19.820312 L 8.3515625 19.925781 L 9.3320312 19.986328 L 10.3125 20 L 11.296875 19.960938 L 12.275391 19.871094 L 13.246094 19.732422 L 13.728516 19.642578 L 14.210938 19.537109 L 14.685547 19.419922 L 15.160156 19.287109 L 15.628906 19.134766 L 16.089844 18.96875 L 16.544922 18.783203 L 16.992188 18.576172 L 17.425781 18.349609 L 17.851562 18.099609 L 18.255859 17.822266 L 18.640625 17.517578 L 18.998047 17.181641 L 19.166016 17 L 19.320312 16.810547 L 19.466797 16.613281 L 19.597656 16.40625 L 19.714844 16.189453 L 19.8125 15.964844 L 19.890625 15.730469 L 19.951172 15.492188 L 19.988281 15.248047 L 20 15.003906 L 19.990234 14.777344 L 19.958984 14.552734 L 19.910156 14.333984 L 19.841797 14.119141 L 19.755859 13.908203 L 19.65625 13.705078 L 19.544922 13.509766 L 19.417969 13.322266 L 19.132812 12.96875 L 18.818359 12.646484 L 18.476562 12.349609 L 18.115234 12.080078 L 17.734375 11.833984 L 17.34375 11.611328 L 16.939453 11.404297 L 16.529297 11.216797 L 16.109375 11.046875 L 15.685547 10.892578 L 15.257812 10.751953 L 14.822266 10.625 L 14.822266 10.615234 L 14.609375 11.078125 L 14.378906 11.53125 L 15.113281 11.744141 L 15.832031 12.001953 L 16.185547 12.150391 L 16.53125 12.310547 L 16.873047 12.484375 L 17.205078 12.671875 L 17.525391 12.880859 L 17.832031 13.107422 L 18.123047 13.355469 L 18.390625 13.630859 L 18.626953 13.927734 L 18.730469 14.089844 L 18.820312 14.257812 L 18.894531 14.433594 L 18.951172 14.615234 L 18.988281 14.802734 L 19 14.994141 L 18.986328 15.207031 L 18.941406 15.414062 L 18.873047 15.615234 L 18.78125 15.808594 L 18.673828 15.992188 L 18.550781 16.166016 L 18.273438 16.486328 L 17.962891 16.775391 L 17.626953 17.037109 L 17.273438 17.273438 L 16.90625 17.486328 L 16.529297 17.683594 L 16.142578 17.859375 L 15.75 18.021484 L 15.351562 18.166016 L 14.947266 18.298828 L 14.539062 18.414062 L 13.712891 18.615234 L 12.878906 18.769531 L 12.037109 18.884766 L 11.189453 18.955078 L 10.339844 18.990234 L 9.4902344 18.986328 L 8.6425781 18.945312 L 7.7988281 18.863281 L 6.9550781 18.742188 L 6.1230469 18.580078 L 5.2988281 18.371094 L 4.8925781 18.246094 L 4.4902344 18.111328 L 4.09375 17.958984 L 3.703125 17.791016 L 3.3203125 17.607422 L 2.9453125 17.40625 L 2.5859375 17.181641 L 2.2363281 16.9375 L 1.9121094 16.667969 L 1.6113281 16.363281 L 1.4746094 16.201172 L 1.3496094 16.029297 L 1.2382812 15.849609 L 1.1445312 15.660156 L 1.0703125 15.458984 L 1.0195312 15.251953 L 0.99804688 15.042969 L 1.0078125 14.830078 L 1.046875 14.619141 L 1.1074219 14.417969 L 1.1933594 14.224609 L 1.2988281 14.037109 L 1.4179688 13.863281 L 1.5507812 13.695312 L 1.84375 13.386719 L 2.1640625 13.107422 L 2.5078125 12.857422 L 2.8652344 12.630859 L 3.2382812 12.423828 L 3.6171875 12.234375 L 4.0058594 12.066406 L 4.4023438 11.910156 L 4.8027344 11.771484 L 5.2089844 11.646484 L 5.6191406 11.53125 L 5.390625 11.078125 L 5.1757812 10.615234 L 5.1738281 10.615234 z "
              style="fill:#fff; fill-opacity:1; stroke:none; stroke-width:0px;"
            ></path>
          </g>
        </svg>
      </div>
      <div class="flex flex-col justify-center">
        <h3
          class="font-semibold text-lg md:text-xl leading-none text-secondary md:text-left text-center"
        >
          {gps}
        </h3>
        <p class="text-base md:text-lg md:text-left text-center">Ilo - Peru</p>
      </div>
    </div>
    <div
      class="min-w-[350px] max-w-[50%] p-0 md:pr-8 flex md:flex-row flex-col items-center gap-2 md:gap-6"
    >
      <div>
        <svg
          id="Layer_1"
          viewBox="0 0 64 64"
          enable-background="new 0 0 64 64"
          xml:space="preserve"
          class="w-[30px] md:w-[60px]"
        >
          <g>
            <path
              fill="#fff"
              d="M11,54h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C10,53.553,10.447,54,11,54
		z M12,49h4v3h-4V49z"
            ></path>
            <path
              fill="#fff"
              d="M23,54h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C22,53.553,22.447,54,23,54
		z M24,49h4v3h-4V49z"
            ></path>
            <path
              fill="#fff"
              d="M35,54h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C34,53.553,34.447,54,35,54
		z M36,49h4v3h-4V49z"
            ></path>
            <path
              fill="#fff"
              d="M11,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C10,42.553,10.447,43,11,43
		z M12,38h4v3h-4V38z"
            ></path>
            <path
              fill="#fff"
              d="M23,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C22,42.553,22.447,43,23,43
		z M24,38h4v3h-4V38z"
            ></path>
            <path
              fill="#fff"
              d="M35,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C34,42.553,34.447,43,35,43
		z M36,38h4v3h-4V38z"
            ></path>
            <path
              fill="#fff"
              d="M47,43h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C46,42.553,46.447,43,47,43
		z M48,38h4v3h-4V38z"
            ></path>
            <path
              fill="#fff"
              d="M11,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C10,31.553,10.447,32,11,32
		z M12,27h4v3h-4V27z"
            ></path>
            <path
              fill="#fff"
              d="M23,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C22,31.553,22.447,32,23,32
		z M24,27h4v3h-4V27z"
            ></path>
            <path
              fill="#fff"
              d="M35,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C34,31.553,34.447,32,35,32
		z M36,27h4v3h-4V27z"
            ></path>
            <path
              fill="#fff"
              d="M47,32h6c0.553,0,1-0.447,1-1v-5c0-0.553-0.447-1-1-1h-6c-0.553,0-1,0.447-1,1v5C46,31.553,46.447,32,47,32
		z M48,27h4v3h-4V27z"
            ></path>
            <path
              fill="#fff"
              d="M60,4h-7V3c0-1.657-1.343-3-3-3s-3,1.343-3,3v1H17V3c0-1.657-1.343-3-3-3s-3,1.343-3,3v1H4
		C1.789,4,0,5.789,0,8v52c0,2.211,1.789,4,4,4h56c2.211,0,4-1.789,4-4V8C64,5.789,62.211,4,60,4z M49,3c0-0.553,0.447-1,1-1
		s1,0.447,1,1v3v4c0,0.553-0.447,1-1,1s-1-0.447-1-1V6V3z M13,3c0-0.553,0.447-1,1-1s1,0.447,1,1v3v4c0,0.553-0.447,1-1,1
		s-1-0.447-1-1V6V3z M62,60c0,1.104-0.896,2-2,2H4c-1.104,0-2-0.896-2-2V17h60V60z M62,15H2V8c0-1.104,0.896-2,2-2h7v4
		c0,1.657,1.343,3,3,3s3-1.343,3-3V6h30v4c0,1.657,1.343,3,3,3s3-1.343,3-3V6h7c1.104,0,2,0.896,2,2V15z"
            ></path>
          </g>
        </svg>
      </div>
      <div class="flex flex-col justify-center">
        <h3
          class="font-semibold text-lg md:text-xl leading-none text-secondary md:text-left text-center"
        >
          {date}
        </h3>
        <p class="text-lg md:text-left text-center">2024</p>
      </div>
    </div>
  </div>
</header>
<script src="/assets/js/Counterdown.js" is:inline></script>
