---
import Wrapper from '../components/Wrapper.astro'
import DATA from '../../information.json'
const {
  testimonial: { title, desc, content },
} = DATA
---

<section class="py-20 bg-bg/5">
  <Wrapper>
    <span class="text-primary font-medium text-base text-center block"
      >[Our Important Dates]</span
    >
    <h2 class="text-center text-5xl font-bold mb-2">{title}</h2>
    <p class="text-center text-black/80 mb-6">{desc}</p>
    <div class="flex flex-wrap justify-center">
      {
        content.map(({ date, comento, people: { name, job, image } }) => (
          <div class="min-w-[330px] md:min-w-[416px] max-w-[33%] p-4">
            <div class="w-full min-h-[150px] p-4 bg-white rounded-3xl relative shadow-lg shadow-black/5">
              <span class="block text-black/50 text-sm">{date}</span>
              <p class="text-black/80 py-3 text-pretty">{comento}</p>
              <div class="absolute top-[calc(100%-10px)] left-10 w-0 h-0 border-l-[30px] border-t-transparent border-b-transparent rotate-90 border-t-[20px] border-b-[20px] border-solid border-l-white" />
            </div>
            <div class="mt-8 flex gap-4">
              <div class="h-16 w-16 rounded-full overflow-hidden">
                <img
                  src={image}
                  alt={name}
                  class="h-full w-full object-cover"
                />
              </div>
              <div class="flex-1 flex flex-col justify-center">
                <h4 class="text-sm font-medium">{name}</h4>
                <p class="text-xs text-primary/80">[{job}]</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
