---
import '../styles/base.css'
import Navbar from '../components/Navbar.astro'
import SocialLinks from '../components/SocialLinks.astro'
import Footer from '../components/Footer.astro'
import SEO from '../components/SEO.astro'
import GetCountParticipants from '../components/GetCountParticipants'
interface Props {
  title: string
  background: string
  tag: string
}

const { title, background, tag } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.PROD ? '/SIMBig2024' : ''}${'/favicon.svg'}`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{tag}</title>
    <SEO title={tag} />
  </head>
  <body class="min-h-screen antialiased">
    <GetCountParticipants client:load />
    <SocialLinks />
    <header class="min-h-[50svh] relative bg-black/30 text-white">
      <img
        src={`${import.meta.env.PROD ? '/SIMBig2024' : ''}${background}`}
        alt="hero background simbig"
        class="h-full w-full absolute -z-10 top-0 left-0 object-cover"
      />
      <Navbar />
      <section class="h-[calc(50svh-80px)]">
        <div class="w-full max-w-6xl mx-auto h-full">
          <div class="flex h-full">
            <div class="flex-1 flex flex-col gap-4 justify-center">
              <!-- <p class="text-white font-medium text-base text-left block">
                [{tag}]
              </p> -->
              <h1
                class="font-bold text-3xl md:text-6xl text-center md:text-left"
              >
                {title}
              </h1>
            </div>
            <div class="hidden md:flex-1"></div>
          </div>
        </div>
      </section>
    </header>
    <slot />
    <Footer />
    <style is:global>
      html {
        scrollbar-width: thin;
      }
      body {
        font-family: 'Poppins';
      }
      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Thin.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-ExtraLight.ttf)
          format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Light.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Regular.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Medium.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-SemiBold.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Bold.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-ExtraBold.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Black.ttf) format('truetype');
      }
    </style>
  </body>
</html>
